*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
}

.main {
  display: flex;
  background-image: url("../img/GoDeeper-Imagem-Desktop.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  width: 100%;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 100%;
}

.description-logo {
  width: 350px
}

.home-mobile {
  display: none
}

.description-text {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
  width: 300px;
}

.description-link {
  display: flex;
  align-self: flex-end;
  align-items: center;
}

.link-text {
  background-color: #FFDD00;
  font-family: 'Skyhook Mono Regular', sans-serif;
  font-size: 10px;
  padding: 4px;
  text-decoration: underline;
}

.contact{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  height: 100%;
}

.contact-imgs {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.img-contact {
  width: 40px
}

.contact-text {
  font-family: 'Skyhook Mono Regular', sans-serif;
  font-size: 10px;
}

@media (max-width: 425px) {
  .main {
    background-image: none;
  }

  .container {
    background-color: rgb(255, 221, 0);
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    width: 100%;
  }

  .description-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(247, 247, 247);
    min-height: 100vh;
    width: 100%;
  }

  .home-mobile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .mobile-text {
    display: flex;

    z-index: 1;
  }

  .mobile-img {
    display: flex;
    width: 100%;
  }

  .logo-img {
    width: 75%;
    margin-top: 10px;
  }

  .description-text {
    width: 80%;
    margin: 10px;
  }
}